<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .text {
            color: black;
            font-weight: bold;

        }

        .area {
            height: 100px;
        }
    </style>
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage' %}">DataCollection</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>


<div class="container mt-10  ">

    <h1 style="text-align: center;">স্বাগতম আপনাকে </h1>
    <p>আমরা বাংলা টেক্সট থেকে বাংলিশ টেক্সট কনভার্ট করবো। আমরা মূলত প্রতিনিয়ত ইংলিশ আলফাবেট ইউজ করে যেভাবে বাংলা লিখি
        অর্থাৎ বাংলিশ লেখি এই ডাটা গুলা কালেক্ট করাই মূল উদ্দেশ্য। </p>


    <div class="card text-center bg-info mb-5">
        <div class="card-header">
            <h1>Bangla Script</h1>
        </div>
        <div class="card-body">

            <p class="card-text">{{ data.script }}</p>

        </div>
        <div class="card-footer text-muted">
            <h5 class="text">এখানের লেখা গুলো পড়ে ট্রান্সলেট করতে হবে</h5>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card text-center bg-secondary mb-3">
        <div class="card-header">
            <h1>Banglish Text</h1>
        </div>
        <div class="card-body">

            <form class="was-validated" action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="number" class="d-none" name="id" value="{{ data.id }}">
                    <textarea name="text" class="form-control is-invalid area p-4" id="validationTextarea"
                              placeholder="Required banglish text" required></textarea>
                    <div class="invalid-feedback">

                    </div>

                    <input type="submit" class="btn btn-primary btn-sm ">
                    <div class="form-group">
                        {% if messages %}
                        <ul class="messages">
                          {% for message in messages %}
                            <li>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert"> {{ message }}
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span> </button></div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                </div>
            </form>

        </div>
        <div class="card-footer text-muted">
            <h5 class="text">আপনাকে অসংখ্য ধন্যবাদ। </h5>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>